.config/mpd/mpd.state
.config/mpd/mpd.log
.config/mpd/mpd.db
.config/mpd/db
.config/mpd/mpd.pid
.config/urxvtd-moonl4nd
.local/share/icons/Flat-Remix-Yellow-Dark
.config/nvim.bak
.config/nvim/.github
.themes/Flat-Remix-GTK-Yellow-Dark